asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
dj-database-url==0.5.0
Django==3.1.4
django-check-seo==0.3.7
django-classy-tags==2.0.0
django-cms==3.8.0
django-filer==2.0.2
django-formtools==2.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-meta==2.0.0
django-mptt==0.11.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-seo==0.3.5
django-treebeard==4.4
djangocms-admin-style==2.0.2
djangocms-page-meta==1.0.1
DjangoSEO==1.0
easy-thumbnails==2.7.1
gunicorn==20.0.4
idna==2.10
lxml==4.6.2
Pillow==8.1.0
psycopg2==2.8.6
python-decouple==3.4
pytz==2020.5
requests==2.25.1
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
Unidecode==1.1.2
urllib3==1.26.2
whitenoise==5.2.0
